{{#Definition[[INDEX]]}}
    <div class="dictionary-note d2w back">
        <div class="top">
            <div class="context">
                <div class="top-lang">{{LearningLang}}</div>
            </div>
            <div class="definition">{{Definition[[INDEX]]}}</div>
            <div class="context">
                <span class="lexical-cat">{{LexicalCat}}</span>
            </div>

            {{#Definition[[INDEX]]_NativeText}}
                <div class="text native">
                    <div class="main">{{Definition[[INDEX]]_NativeText}}</div>
                    {{#Definition[[INDEX]]_AltNativeText}}
                        <div class="alt">[{{Definition[[INDEX]]_AltNativeText}}]</div>
                    {{/Definition[[INDEX]]_AltNativeText}}
                </div>
            {{/Definition[[INDEX]]_NativeText}}
        </div>

        <hr id="answer"/>

        <div class="bottom">
            <div class="learning-word">
                {{#SourceUrl}}<a href="{{SourceUrl}}">{{LearningWord}}</a>{{/SourceUrl}}
                {{^SourceUrl}}{{LearningWord}}{{/SourceUrl}}
            </div>
            {{#IPA}}
                    <div class="ipa">{{IPA}}</div>
            {{/IPA}}

            {{#Definition[[INDEX]]_LearningText}}
                <div class="text learning">
                    <div class="main">{{Definition[[INDEX]]_LearningText}}</div>
                    {{#Definition[[INDEX]]_AltLearningText}}
                        <div class="alt">{{Definition[[INDEX]]_AltLearningText}}</div>
                    {{/Definition[[INDEX]]_AltLearningText}}
                </div>
            {{/Definition[[INDEX]]_LearningText}}


            {{#PersonalNotes}}
                <div class="personal-notes">
                    {{PersonalNotes}}
                </div>
            {{/PersonalNotes}}

            {{#Audio}}
                <div class="audio">{{Audio}}</div>
            {{/Audio}}
        </div>
    </div>
{{/Definition[[INDEX]]}}
