<!-- Alternative single-definition-to-word card, directly based on definition when no example phrase is available -->
<!-- [[REFERENCE_TEXT]] -->
{{#Definition[[INDEX]]}}
    {{^Definition[[INDEX]]_NativeText}}
        <div class="dictionary-note d2w back">
            <div class="top">
                <div class="definition">{{Definition[[INDEX]]}}</div>
                <div class="context">
                    <span class="lexical-cat">{{LexicalCat}}</span>
                </div>
            </div>

            <hr id="answer"/>

            <div class="bottom">
                <div class="definition-box">
                    <div class="learning-word">
                        {{#SourceUrl}}<a href="{{SourceUrl}}">{{LearningWord}}</a>{{/SourceUrl}}
                        {{^SourceUrl}}{{LearningWord}}{{/SourceUrl}}
                    </div>
                    {{#IPA}}
                            <div class="ipa">{{IPA}}</div>
                    {{/IPA}}
                    {{#Definition[[INDEX]]_WordSynonyms}}
                        <div class="synonyms"><span class="label">≈</span> {{Definition[[INDEX]]_WordSynonyms}}</div>
                    {{/Definition[[INDEX]]_WordSynonyms}}
                </div>

                {{#PersonalNotes}}
                    <div class="personal-notes">
                        {{PersonalNotes}}
                    </div>
                {{/PersonalNotes}}

                {{#Audio}}
                    <div class="audio">{{Audio}}</div>
                {{/Audio}}
            </div>
        </div>
    {{/Definition[[INDEX]]_NativeText}}
{{/Definition[[INDEX]]}}
