<!-- Main definition card, learning word to multiple definitions with example phrases as available -->
<!-- [[REFERENCE_TEXT]] -->
<div class="dictionary-note w2d back">
    <div class="top">
        <div class="learning-word">
            {{#SourceUrl}}<a href="{{SourceUrl}}">{{LearningWord}}</a>{{/SourceUrl}}
            {{^SourceUrl}}{{LearningWord}}{{/SourceUrl}}
        </div>
        {{#IPA}}
            <div class="ipa">{{IPA}}</div>
        {{/IPA}}
        <div class="context">
            <span class="pos">{{POS}}</span>
        </div>
    </div>

    <hr id="answer"/>

    <div class="bottom">
        <ol class="definitions">
            [[#repeat REPEAT_SIZE]]
                {{#Definition[[INDEX]]_Included}}
                    {{#Definition[[INDEX]]}}
                        <li>
                            <div class="definition">{{Definition[[INDEX]]}}</div>
                            <div class="example">
                                {{#Definition[[INDEX]]_LearningText}}
                                    <div class="text learning">
                                        <div class="main">{{Definition[[INDEX]]_LearningText}}</div>
                                        {{#Definition[[INDEX]]_AltLearningText}}
                                            <div class="alt">{{Definition[[INDEX]]_AltLearningText}}</div>
                                        {{/Definition[[INDEX]]_AltLearningText}}
                                    </div>
                                {{/Definition[[INDEX]]_LearningText}}
                                {{#Definition[[INDEX]]_NativeText}}
                                    <div class="text native">
                                        <div class="main">{{Definition[[INDEX]]_NativeText}}</div>
                                        {{#Definition[[INDEX]]_AltNativeText}}
                                            <div class="alt">{{Definition[[INDEX]]_AltNativeText}}</div>
                                        {{/Definition[[INDEX]]_AltNativeText}}
                                    </div>
                                {{/Definition[[INDEX]]_NativeText}}
                            </div>
                            {{#Definition[[INDEX]]_WordSynonyms}}
                                <div class="synonyms"><span class="label">≈</span> {{Definition[[INDEX]]_WordSynonyms}}</div>
                            {{/Definition[[INDEX]]_WordSynonyms}}
                        </li>
                    {{/Definition[[INDEX]]}}
                {{/Definition[[INDEX]]_Included}}
            [[/repeat]]
        </ol>

        {{#PersonalNotes}}
            <div class="personal-notes">
                {{PersonalNotes}}
            </div>
        {{/PersonalNotes}}

        {{#Audio}}<div class="audio">{{Audio}}</div>{{/Audio}}
    </div>
</div>
