<!-- Main definition card, learning word to multiple definitions with example phrases as available -->
<!-- [[REFERENCE_TEXT]] -->
<div class="dictionary-note w2d front">
    <div class="top">
        <div class="learning-word">{{LearningWord}}</div>
        {{#IPA}}
                <div class="ipa">{{IPA}}</div>
        {{/IPA}}
        <div class="context">
            <span class="lexical-cat">{{LexicalCat}}</span>
        </div>

        <div class="hint">
            <button>Hint</button>
            <div class="content">
                [[#repeat REPEAT_SIZE]]
                    {{#Definition[[INDEX]]_Included}}
                        {{#Definition[[INDEX]]_LearningText}}
                            <div class="row text learning">
                                <div class="main">{{Definition[[INDEX]]_LearningText}}</div>
                                {{#Definition[[INDEX]]_AltLearningText}}
                                    <div class="alt">{{Definition[[INDEX]]_AltLearningText}}</div>
                                {{/Definition[[INDEX]]_AltLearningText}}
                            </div>
                        {{/Definition[[INDEX]]_LearningText}}
                    {{/Definition[[INDEX]]_Included}}
                [[/repeat]]
            </div>
        </div>
    </div>
</div>

<script>
    $(".hint button").click(function() {
        $(this).fadeOut(200, function() {
            $(".hint .content").fadeIn();
        });
    });
</script>