{{#Definition[[INDEX]]}}
    <div class="main-content">
        <div class="objective">{{Definition[[INDEX]]}}</div>
        <div class="lang-hint">
            <span class="lexical-cat">{{LexicalCat}}</span> ({{NativeLang}})
        </div>
    </div>

    {{#Definition[[INDEX]]_NativeText}}
        <div class="text">
            {{Definition[[INDEX]]_NativeText}}
            {{#Definition[[INDEX]]_AltNativeText}}
                <div class="alt-text">[{{Definition[[INDEX]]_AltNativeText}}]</div>
            {{/Definition[[INDEX]]_AltNativeText}}
        </div>
    {{/Definition[[INDEX]]_NativeText}}
{{/Definition[[INDEX]]}}
