{{#Definition[[INDEX]]}}
    <div class="main-content">
        <div class=definition>{{Definition[[INDEX]]}}</div>
        <div class="lang-hint">
            <span class="lexical-cat">{{LexicalCat}}</span> ({{NativeLang}})
        </div>
    </div>

    {{#Definition[[INDEX]]_NativeText}}
        <div class="text">
            {{Definition[[INDEX]]_NativeText}}
            {{#Definition[[INDEX]]_AltNativeText}}
                <div class="alt-text">{{Definition[[INDEX]]_AltNativeText}}</div>
            {{/Definition[[INDEX]]_AltNativeText}}
        </div>
    {{/Definition[[INDEX]]_NativeText}}

    <hr id="answer"/>

    <div class="main-content">
        <div class="learning-word">
            {{#SourceUrl}}<a href="{{SourceUrl}}">{{LearningWord}}</a>{{/SourceUrl}}
            {{^SourceUrl}}{{LearningWord}}{{/SourceUrl}}
        </div>
    </div>

    {{#Definition[[INDEX]]_LearningText}}
        <div class="text">
            {{Definition[[INDEX]]_LearningText}}
            {{#Definition[[INDEX]]_AltLearningText}}
                <div class="alt-text">{{Definition[[INDEX]]_AltLearningText}}</div>
            {{/Definition[[INDEX]]_AltLearningText}}
        </div>
    {{/Definition[[INDEX]]_LearningText}}


    {{#PersonalNotes}}
        <div class="personal-notes">
            {{PersonalNotes}}
        </div>
    {{/PersonalNotes}}

    {{#Audio}}
        <div class="audio">{{Audio}}</div>
    {{/Audio}}

{{/Definition[[INDEX]]}}
