{{#Definition[[INDEX]]}}
    <div class="dictionary-note d2w front">
        <div class="top">
            <div class="context">
                <div class="top-lang">{{LearningLang}}</div>
            </div>
            <div class="definition">{{Definition[[INDEX]]}}</div>
            <div class="context">
                <span class="lexical-cat">{{LexicalCat}}</span>
            </div>

            {{#Definition[[INDEX]]_NativeText}}
                <div class="text native">
                    <div class="main">{{Definition[[INDEX]]_NativeText}}</div>
                    {{#Definition[[INDEX]]_AltNativeText}}
                        <div class="alt">[{{Definition[[INDEX]]_AltNativeText}}]</div>
                    {{/Definition[[INDEX]]_AltNativeText}}
                </div>
            {{/Definition[[INDEX]]_NativeText}}
        </div>
    </div>
{{/Definition[[INDEX]]}}
