<div class="main-content">
    <div class="text">
        {{NativeText}}
        {{#AltNativeText}}
            <div class="alt-text">{{AltNativeText}}</div>
        {{/AltNativeText}}
    </div>
    <div class="lang-hint">
        <span class="lexical-cat">{{LexicalCat}}</span> ({{LearningLang}})
    </div>
</div>

<hr id="answer"/>

<div class="main-content">
    <div class="learning-word">
        {{#SourceUrl}}<a href="{{SourceUrl}}">{{LearningWord}}</a>{{/SourceUrl}}
        {{^SourceUrl}}{{LearningWord}}{{/SourceUrl}}
    </div>
</div>

<div class="definition">{{Definition}}</div>

<div class="text">
    {{LearningText}}
    {{#AltLearningText}}
        <div class="alt-text">{{AltLearningText}}</div>
    {{/AltLearningText}}
</div>

{{#PersonalNotes}}
    <div class="personal-notes">
        {{PersonalNotes}}
    </div>
{{/PersonalNotes}}

{{#Audio}}
    <div class="audio">{{Audio}}</div>
{{/Audio}}
